* :not(input), :not(#belsosav)
{
    text-align: center;
}

#kesz
{
    display: none;
}

#sav
{
    display: block;
    margin: 25px auto;
    width: 95%;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

#belsosav
{
    
    width: 1%;
    height: 20px;
    text-align: left;
    background-color: green;
    border-radius: 10px;
}

#szamok
{
    word-spacing: 15em;
}

#bemenet
{
    font-size: 2em;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
}

#szoveg
{
    font-size: 1.8em;
    font-weight: bold;
    padding: 10px;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

#ido
{
    font-size: 1.6em;
    padding: 10px;
}